body, p, a, legend, label, input {
    font: normal 10pt verdana, helvetica, sans-serif;
}

h2 {
	font: normal 16pt verdana, helvetica, sans-serif;
	color: #0568CD;
}

a:link {
  color: #0568CD;
}

a.article_title {
	font : normal 12pt verdana, helvetica, sans-serif;
}

a:visited {
  color: #0568CD;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
}

label {
	display: inline-block;
  	width: 150px;
  	text-align: left;
  	margin: 5px;
}​

legend {
    font-weight: bold;
    color: #0568CD;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
}

.article_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 30%;
    max-width: 30%;
}

.flex_col_center{
    display: flex;
    flex-direction: column;
    align-items : center;
}

.flex_row_center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.research_zone{
    display: flex;
    flex-direction: column;
}

.image {
  height: 120px;
  width: auto;
}

.article_area{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.disabledButton{
    pointer-events: none;
    opacity: 0.4;
}

.quart{
    width: 25%;
}

form input {
    margin: 3px 3px 0 0;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

p.success {
    color: #090;
}

.success {
    color: #090;
}

p.info {
    color: #6a26c9;
}

p.error {
    color: #900;
}

span.error {
    color: #900;
}

.hide{
	display: none;
}