body, p, a, legend, label, input {
    font: normal 10pt verdana, helvetica, sans-serif;
    text-decoration:none; 
}

h2 {
	font: bold 18pt verdana, helvetica, sans-serif;
	}

.red{
	font-family: verdana, helvetica, sans-serif;
	color: #e5313a;
}

.blue{
	font-family: verdana, helvetica, sans-serif;
	color: #056ad5;
}

.yellow{
	font-family: verdana, helvetica, sans-serif;
	color: #f5a900;
}

.green{
	font-family: verdana, helvetica, sans-serif;
	color: #84b615;
}

label{
	vertical-align: top;
}

a:link {
  color: #000000;
}

a:not(.inscription):hover{
	color: #0568CD;
	text-decoration: underline;
}
a:not(.inscription):visited{
	color : #0568CD;
}

a.article_title {
	font : bold 12pt verdana, helvetica, sans-serif;
	text-transform: uppercase;
}

fieldset {
    padding: 10px;
    border: 1px #0568CD solid;
    margin : 5px;
}

label {
	display: inline-block;
  	width: 150px;
  	text-align: left;
  	margin: 5px;
}​

legend {
    font-weight: bold;
    color: #0568CD;
}

header {	
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background : #F4F4F4 ;
    align-items : center;    
}

input[type=submit] , .inscription{
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    border-radius: 5px; 
    
}

.article_col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 30%;
    max-width: 30%;
    margin-top:10 px;
}

.flex_col_center{
    display: flex;
    flex-direction: column;
    align-items : center;
}

.flex_row_center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.research_zone{
    display: flex;
    flex-direction: column;
}
.upper-research{
	border: 1px #999 solid;
}

.connexion{
	display: flex;
	justify-content: center;	
	margin : 5px 0 5px 0;
}

.image {
  height: 80px;
  width: auto;
}

.img-ench{
	width : auto;
}

.ench {
	width: 66%;
}

.article_area{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 1px black solid;
    margin-top: 10px;
    padding: 10px;
}

.disabledButton{
    pointer-events: none;
    opacity: 0.4;
}

.quart{
    width: 25%;
}

form input {
    margin: 3px 3px 0 0;
    border: 1px #999 solid;
}

form input.sansLabel {
    margin-left: 200px;
}

p.success {
    color: #090;
}

.success {
    color: #090;
}

p.info {
    color: #6a26c9;
}

p.error {
    color: #900;
}

span.error {
    color: #900;
}

.required {
    color: #900;
}

.hide{
	display: none;
}